.navbar-brand-box {
    padding: 0 1.5rem 0 1rem !important;
    width: 250px;
    background: var(--bs-sidebar-bg);
    border-right: 1px solid var(--bs-sidebar-border-color);
    -webkit-box-shadow: 0 2px 2px var(--bs-sidebar-bg);
    box-shadow: 0 2px 2px var(--bs-sidebar-bg);
}